.searchForm {
  padding: 0;
  margin: 0 0 16px 0;
}

.btnSearch {
  border: none;
  border-radius: 4px;
  padding: 4px;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btnSearch:hover,
.btnSearch:focus {
  background-color: black;
  color: #eae7e7;
}
.searchInput {
  margin-right: 8px;
  padding: 4px;
  transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    outline 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.searchInput:hover,
.searchInput:focus {
  border-color: black;
  outline: none;
}
